<form action="/composition" method="get" class="note-input-form">
  <div class="wrapping-form-div">
    <input type="submit" value="compose">
  </div>
</form>
<div class="notes-list"><%= @notes_in_ul_tag %></div>