<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>frankly-note</title>
  <link rel="icon" type="image/png" href="/images/flankly_memo_icon.png">
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <header class="header">
        <a href="http://localhost:4567/"><img src="/images/flankly_memo_icon.png" /></a>
        <h1 class="logo"><a class="logo" href="http://localhost:4567/">Flankly note</a></h1>
      </header>
      <%= yield %>
    </div>
  </div>
</body>
</html>
