/* .logo {font-family: 'Pacifico', cursive;} */

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.header {
  text-align: center;
}

.header a {
  display: block;
  margin: 0 auto;
  width: 60px;
}

.header img {
  text-align: center;
  margin: 0 auto;
  width: 60px;
}

.header img:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.logo {
  text-align: center;
  font-family: 'Permanent Marker';
}

.container div {
  border: 1px solid red;
}

.notes-list {
  width: 45%;
  max-width: 400px;
  border: 1px solid red;
}

.notes-list2 {
  border: 1px solid red;
}

.notes-list ul, li{
  list-style: none;
}

.memo-input-form *{
  display: block;
  margin: 0 auto;
  width: 45%;
  max-width: 400px;
  border-radius: 4px;
}

.memo-input-form input {
  width: 100%;
  border: 2px solid rgb(124, 6, 141);
}

.memo-input-form label {
  padding: 3px;
  font-family: 'Permanent Marker';
}

.memo-input-form .title {
  margin-bottom: 10px;
}

.memo-input-form .memo-title {
  background-color: rgba(230, 230, 230, 0.1);
}

.memo-input-form input[type="text"], textarea {
  padding: 3px 5px 3px 5px;
}

.memo-input-form .memo-body {
  width: 100%;
  border: 2px solid rgb(124, 6, 141);
  height: 300px;
  margin-bottom: 15px;
  background-color: rgba(230, 230, 230, 0.1);
}

.memo-input-form input[type="submit"] {
  width: 25%;
  max-width: 200px;
  cursor: pointer;
  font-family: 'Permanent Marker';
  /* background-color: rgb(220, 220, 220); */
  background-color: rgba(124, 6, 141, 0.1);
}

